html, body {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.center-btn{ 
    color: #0F0F0F;
}
.btn-circle {
    border: 0px solid #0F0F0F;
}
.member-section {
    background-color: #202020;
}
.member-div:hover {
    background-color: #000;
}
.member-div {
    padding: 35px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:3px solid #404040;
}
h5 {
    color: #A0A0A0;
}
footer {
    margin: 50px;
}
.member-section a {
    font-size: 2em;
    margin: 20px;
}
h4.manager {
    text-decoration: underline;
}
hr {
    margin: 50px 0;
}
